<!-- Navbar -->
<nav class="navbar sticky-top d-flex justify-content-around">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/6/68/Logo_FPT_Education.png"
    width="150"
    height="50"
    alt="logo fpt education"
  />
  <ul class="nav-center d-flex justify-content-lg-between">
    <li>
      <a
        class="text-decoration-none text-uppercase text-light me-3"
        routerLinkActive="active"
        >Home</a
      >
    </li>
    <li>
      <a class="text-decoration-none text-uppercase text-light me-3" href=""
        >Rooms</a
      >
    </li>
    <li>
      <a class="text-decoration-none text-uppercase text-light me-3" href=""
        >Blog</a
      >
    </li>
    <li>
      <a class="text-decoration-none text-uppercase text-light me-3" href=""
        >About Us</a
      >
    </li>
    <li>
      <a class="text-decoration-none text-uppercase text-light me-3" href=""
        >Contact Us</a
      >
    </li>
    <li>
      <a class="text-decoration-none text-uppercase text-light me-3" href=""
        >Login</a
      >
    </li>
  </ul>
</nav>
<!-- Navbar -->
