:host button {
  transition: all 0.3s ease-in-out;
}

:host:hover button {
    /* background-color: var(--oragne200) !important; */
    /* color: var(--oragne500) !important; */
    font-weight: 700;
}

:host:active button {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
