
<p-table
[columns]="columns" 
[value]="data"
responsiveLayout="scroll" 
[paginator]="paginator" 
[rows]="numberOfRow" 
[first]="firstIndexItem"
[showCurrentPageReport]="showCurrentPageReport" 
[tableStyle]="{ 'min-width': '50rem' }"
currentPageReportTemplate="Hiển thị từ {first} tới {last} của {totalRecords} phần tử"
(onPage)="pageChange($event)"
[sortMode]="sortMode"
[(selection)]="selectedData" 
[selectionMode]="selectionMode"
[rowHover]="true"
[tableStyleClass]="tableStyleClass"
[rowsPerPageOptions]="[10, 25, 50]">
  
  
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngIf="showCheckboxColumn" style="min-width:3rem">
                    <p-tableHeaderCheckbox />
            </th>
            <th *ngFor="let col of columns"  
            [pSortableColumn]="col.sortable ? col.field : null" style="min-width:15rem"> 
                {{col.header}} <p-sortIcon *ngIf="col.sortable" field="{{col.field}}"/>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <ng-template #defaultTemplate>
            <tr [pSelectableRow]="rowData">
                <td *ngIf="showCheckboxColumn">
                    <p-tableCheckbox [value]="rowData" />
                </td>
                <td *ngFor="let col of columns"
                [ngClass]="getCellClass(rowData, col.field)"
                >
                    <span>{{rowData[col.field]}}</span>
                </td>
                <ng-container *ngTemplateOutlet="addActionTemplate!!"/>
                
            </tr>
        </ng-template>
        <ng-container
            *ngTemplateOutlet="customBodyTemplate ? customBodyTemplate : defaultTemplate; context: {$implicit: rowData}">
        </ng-container>
    </ng-template>
</p-table>