::ng-deep .p-paginator-rpp-options.p-dropdown.p-component.p-inputwrapper.p-inputwrapper-filled {
    display: flex;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

::ng-deep .p-dropdown-items-wrapper>ul {
    padding-left: 0;
    margin-bottom: 0;
}

::ng-deep .p-ripple.p-element.p-dropdown-item {
    padding: 0.5rem
}

::ng-deep .p-paginator.p-component{
    padding: 1rem;
}



/* list user */
:host ::ng-deep .custom_user_table {
    margin-top: 2rem;
}

:host ::ng-deep .custom_user_table thead th,
:host ::ng-deep .custom_user_table tbody td {
    padding: 1rem;
}

:host ::ng-deep .custom_user_table tbody tr {
    border-top: 1px solid var(--gray200);
}

/* custom style cell */
td.status-style-cell span,
td.iStatus-style-cell span,
td.student-style-cell span,
td.staff-style-cell span,
td.headstaff-style-cell span {
    border-radius: 50px;
    padding: 0.5rem 1rem;
    font-weight: 600;
}

td.status-style-cell span {
    background-color: #E6FAF5;
    color: #4BDBB6;
}

td.iStatus-style-cell span {
    background-color: #FAE8E6;
    color: #DB4B4B;
}

td.student-style-cell span{
    background-color: var(--oragne50);
    color: var(--oragne700);
}

td.staff-style-cell span{
    background-color: #FFF6E6;
    color: #FFB733
}

td.headstaff-style-cell span{
    background-color: var(--green50);
    color: var(--green800)
}

