<nav class="navbar navbar-expand-lg navbar" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between gap-md-5">
            <a class="navbar-brand" href="#">
                <img [src]="logo.logoM" alt="logoM.png" width="" height="" class="d-inline-block">
                <span class="fs-6 ms-3 text-secondary">ADMIN DASHBOARD</span>
            </a>
            <div class="humberger_sidebar" (click)="triggerEventHumberger()">
                <span class="pi pi-align-justify"></span>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
            aria-controls="offcanvasNavbar2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
            aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbar2Label">ADMIN DASHBOARD</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ps-lg-5">
                <form class="search">
                    <app-svg-icon [src]="icon.searchIc" class="fasearch"></app-svg-icon>
                    <input type="search" class="form-control rounded-5" placeholder="Search">
                </form>

                <div class="right-side d-lg-flex d-sm-inline-flex gap-3 align-items-center justify-content-end">
                    <div class="dropdown notifiy">
                        <span class="pi pi-bell" style="color: var(--gray300); font-size: 1.5rem"
                            id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"></span>
                        <div class="sub-menu-notify dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            Not news notification!
                        </div>
                    </div>
                        <!-- esline -->
                        <p-toggleButton 
                            [ngModel]="checkedMode" 
                            (ngModelChange)="toggleLightDark()"
                            styleClass="p-button-text px-2 py-1"
                            [onIcon]="lightModeI"
                            [offIcon]="darkModeI" 
                            />
                    <div class="dropdown">
                        <img [src]="logo.avatarBase" alt="logoM.png" width="60" height="60"
                            class="d-inline-block rounded-circle  dropdown-toggle" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>